<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="keywords" content="winston, logger, performance, dotenv">
    <meta name="description" content="Aplicación de ejemplo para el uso de Winston como logger en Node.js">
    <meta name="author" content="Mauricio G. Lúquez">
    <title>APP con WINSTON</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    {{{body}}}
</body>
</html>